<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Gsp - Admin Template</title>

 
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "gsp-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
       
            
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
 
        <div data-bind='component: {
                            name: "lefNav",
                            params: lefnav
                        }'></div>

        <div id="center" class="boxed">




        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
    <!-- 设置 - DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div id="gsp-set" class="gsp-set">

    </div>
    <!--===================================================-->
    <!-- END 设置 -->


</body>
</html>
