<div id="gsp-set-body" class="gsp-set-body collapse">
    <div id="gsp-set-alert"></div>
    <div class="pad-hor bord-btm clearfix">
        <div class="pull-right pad-top">
            <button id="gsp-btn-close-settings" class="btn btn-trans">
                        <i class="pci-cross pci-circle icon-lg"></i>
                    </button>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="gsp-pli-gear icon-2x"></i>
            </div>
            <div class="media-body">
                <span class="text-semibold text-lg text-main">Costomize</span>
                <p class="text-muted text-sm">Customize Gsp's layout, sidebars, and color schemes.</p>
            </div>
        </div>
    </div>
    <div class="gsp-set-content clearfix">
        <div class="col-xs-6 col-md-3">
            <div class="pad-all bg-gray-light">
                <p class="text-semibold text-main text-lg">Layout</p>
                <p class="text-semibold text-main">Boxed Layout</p>
                <div class="pad-btm">
                    <div class="pull-right">
                        <input id="gsp-box-lay" class="toggle-switch" type="checkbox">
                        <label for="gsp-box-lay"></label>
                    </div>
                    Boxed Layout
                </div>
                <div class="pad-btm">
                    <div class="pull-right">
                        <button id="gsp-box-img" class="btn btn-sm btn-trans" disabled><i class="pci-hor-dots"></i></button>
                    </div>
                    Background Images <span class="label label-primary">New</span>
                </div>

                <hr class="new-section-xs bord-no">
                <p class="text-semibold text-main">Animations</p>
                <div class="pad-btm">
                    <div class="pull-right">
                        <input id="gsp-anim" class="toggle-switch" type="checkbox" checked>
                        <label for="gsp-anim"></label>
                    </div>
                    Enable Animations
                </div>
                <div class="pad-btm">
                    <div class="select pull-right">
                        <select id="gsp-ease">
                                    <option value="effect" selected>ease (Default)</option>
                                    <option value="easeInQuart">easeInQuart</option>
                                    <option value="easeOutQuart">easeOutQuart</option>
                                    <option value="easeInBack">easeInBack</option>
                                    <option value="easeOutBack">easeOutBack</option>
                                    <option value="easeInOutBack">easeInOutBack</option>
                                    <option value="steps">Steps</option>
                                    <option value="jumping">Jumping</option>
                                    <option value="rubber">Rubber</option>
                                </select>
                    </div>
                    Transitions
                </div>

                <hr class="new-section-xs bord-no">

                <p class="text-semibold text-main text-lg">Header / Navbar</p>
                <div>
                    <div class="pull-right">
                        <input id="gsp-navbar-fixed" class="toggle-switch" type="checkbox">
                        <label for="gsp-navbar-fixed"></label>
                    </div>
                    Fixed Position
                </div>

                <hr class="new-section-xs bord-no">

                <p class="text-semibold text-main text-lg">Footer</p>
                <div class="pad-btm">
                    <div class="pull-right">
                        <input id="gsp-footer-fixed" class="toggle-switch" type="checkbox">
                        <label for="gsp-footer-fixed"></label>
                    </div>
                    Fixed Position
                </div>
            </div>
        </div>
        <div class="col-lg-9 pos-rel">
            <div class="row">
                <div class="col-lg-4">
                    <div class="pad-all">
                        <p class="text-semibold text-main text-lg">Sidebars</p>
                        <p class="text-semibold text-main">Navigation</p>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-nav-fixed" class="toggle-switch" type="checkbox">
                                <label for="gsp-nav-fixed"></label>
                            </div>
                            Fixed Position
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-nav-profile" class="toggle-switch" type="checkbox" checked>
                                <label for="gsp-nav-profile"></label>
                            </div>
                            Widget Profil <small class="label label-primary">New</small>
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-nav-shortcut" class="toggle-switch" type="checkbox" checked>
                                <label for="gsp-nav-shortcut"></label>
                            </div>
                            Shortcut Buttons
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-nav-coll" class="toggle-switch" type="checkbox">
                                <label for="gsp-nav-coll"></label>
                            </div>
                            Collapsed Mode
                        </div>

                        <div class="clearfix">
                            <div class="select pad-btm pull-right">
                                <select id="gsp-nav-offcanvas">
                                            <option value="none" selected disabled="disabled">-- Select Mode --</option>
                                            <option value="push">Push</option>
                                            <option value="slide">Slide in on top</option>
                                            <option value="reveal">Reveal</option>
                                        </select>
                            </div>
                            Off-Canvas
                        </div>

                        <p class="text-semibold text-main">Aside</p>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-asd-vis" class="toggle-switch" type="checkbox">
                                <label for="gsp-asd-vis"></label>
                            </div>
                            Visible
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-asd-fixed" class="toggle-switch" type="checkbox" checked>
                                <label for="gsp-asd-fixed"></label>
                            </div>
                            Fixed Position
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-asd-float" class="toggle-switch" type="checkbox" checked>
                                <label for="gsp-asd-float"></label>
                            </div>
                            Floating <span class="label label-primary">New</span>
                        </div>
                        <div class="mar-btm">
                            <div class="pull-right">
                                <input id="gsp-asd-align" class="toggle-switch" type="checkbox">
                                <label for="gsp-asd-align"></label>
                            </div>
                            Left Side
                        </div>
                        <div>
                            <div class="pull-right">
                                <input id="gsp-asd-themes" class="toggle-switch" type="checkbox">
                                <label for="gsp-asd-themes"></label>
                            </div>
                            Dark Version
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="gsp-theme">
                        <div class="row bg-gray-light pad-top">
                            <p class="text-semibold text-main text-lg pad-lft">Color Schemes</p>
                            <div class="gsp-theme-btn col-md-4 pad-ver">
                                <p class="text-semibold text-main">Header</p>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-a-light add-tooltip" data-theme="theme-light" data-type="a" data-title="(A). Light">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-navy add-tooltip" data-theme="theme-navy" data-type="a" data-title="(A). Navy Blue">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-ocean add-tooltip" data-theme="theme-ocean" data-type="a" data-title="(A). Ocean">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-a-lime add-tooltip" data-theme="theme-lime" data-type="a" data-title="(A). Lime">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-purple add-tooltip" data-theme="theme-purple" data-type="a" data-title="(A). Purple">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-dust add-tooltip" data-theme="theme-dust" data-type="a" data-title="(A). Dust">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-a-mint add-tooltip" data-theme="theme-mint" data-type="a" data-title="(A). Mint">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-yellow add-tooltip" data-theme="theme-yellow" data-type="a" data-title="(A). Yellow">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-well-red add-tooltip" data-theme="theme-well-red" data-type="a" data-title="(A). Well Red">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-a-coffee add-tooltip" data-theme="theme-coffee" data-type="a" data-title="(A). Coffee">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="a" data-title="(A). Prickly pear">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-a-dark add-tooltip" data-theme="theme-dark" data-type="a" data-title="(A). Dark">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="gsp-theme-btn col-md-4 pad-ver">
                                <p class="text-semibold text-main">Brand</p>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-b-light add-tooltip" data-theme="theme-light" data-type="b" data-title="(B). Light">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-navy add-tooltip" data-theme="theme-navy" data-type="b" data-title="(B). Navy Blue">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-ocean add-tooltip" data-theme="theme-ocean" data-type="b" data-title="(B). Ocean">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-b-lime add-tooltip" data-theme="theme-lime" data-type="b" data-title="(B). Lime">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-purple add-tooltip" data-theme="theme-purple" data-type="b" data-title="(B). Purple">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-dust add-tooltip" data-theme="theme-dust" data-type="b" data-title="(B). Dust">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-b-mint add-tooltip" data-theme="theme-mint" data-type="b" data-title="(B). Mint">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-yellow add-tooltip" data-theme="theme-yellow" data-type="b" data-title="(B). Yellow">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-well-red add-tooltip" data-theme="theme-well-red" data-type="b" data-title="(B). Well red">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-b-coffee add-tooltip" data-theme="theme-coffee" data-type="b" data-title="(B). Coofee">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="b" data-title="(B). Prickly pear">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-b-dark add-tooltip" data-theme="theme-dark" data-type="b" data-title="(B). Dark">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="gsp-theme-btn col-md-4 pad-ver">
                                <p class="text-semibold text-main">Navigation</p>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-c-light add-tooltip" data-theme="theme-light" data-type="c" data-title="(C). Light">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-navy add-tooltip" data-theme="theme-navy" data-type="c" data-title="(C). Navy Blue">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-ocean add-tooltip" data-theme="theme-ocean" data-type="c" data-title="(C). Ocean">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-c-lime add-tooltip" data-theme="theme-lime" data-type="c" data-title="(C). Lime">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-purple add-tooltip" data-theme="theme-purple" data-type="c" data-title="(C). Purple">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-dust add-tooltip" data-theme="theme-dust" data-type="c" data-title="(C). Dust">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-c-mint add-tooltip" data-theme="theme-mint" data-type="c" data-title="(C). Mint">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-yellow add-tooltip" data-theme="theme-yellow" data-type="c" data-title="(C). Yellow">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-well-red add-tooltip" data-theme="theme-well-red" data-type="c" data-title="(C). Well Red">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                                <div class="gsp-justify-theme">
                                    <a href="#" class="gsp-theme gsp-c-coffee add-tooltip" data-theme="theme-coffee" data-type="c" data-title="(C). Coffee">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-prickly-pear add-tooltip" data-theme="theme-prickly-pear" data-type="c" data-title="(C). Prickly pear">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                    <a href="#" class="gsp-theme gsp-c-dark add-tooltip" data-theme="theme-dark" data-type="c" data-title="(C). Dark">
                                        <div class="gsp-theme-brand"></div>
                                        <div class="gsp-theme-head"></div>
                                        <div class="gsp-theme-nav"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gsp-bg-boxed" class="gsp-bg-boxed">
                <div class="gsp-bg-boxed-content">
                    <p class="text-semibold text-main text-lg mar-no">Background Images</p>
                    <p class="text-sm text-muted">Add an image to replace the solid background color</p>
                    <div class="row">
                        <div class="col-lg-4 text-justify">
                            <p class="text-semibold text-main">Blurred</p>
                            <div id="gsp-blurred-bg" class="text-justify">
                                <!--Blurred Backgrounds-->
                            </div>
                        </div>
                        <div class="col-lg-4 text-justify">
                            <p class="text-semibold text-main">Polygon &amp; Geometric</p>
                            <div id="gsp-polygon-bg" class="text-justify">
                                <!--Polygon Backgrounds-->
                            </div>
                        </div>
                        <div class="col-lg-4 text-justify">
                            <p class="text-semibold text-main">Abstract</p>
                            <div id="gsp-abstract-bg" class="text-justify">
                                <!--Abstract Backgrounds-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gsp-bg-boxed-footer">
                    <button id="gsp-close-boxed-img" class="btn btn-primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="gsp-set-btn" class="btn" data-toggle="collapse" data-target="#gsp-set-body"><i class="gsp-psi-gear icon-lg"></i></button>

 
